body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#Home {
    margin: 0px;
    background-image:url('images/travelagencybackround.jpeg');
    background-position: center;
  
     height: 625px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(49, 5, 75);
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: rgb(42, 6, 90);
  background-color: #7965c2;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #d45cc4;
  color: rgb(33, 10, 243);
}