:root {
  --color-bg-main: #0D0D0D;
  --color-bg-section: #BF5B04;
  --color-primary: #BF0426;
  --color-accent: #F29829;
  --color-text-light: #FFFFFF;
  --color-text-accent: #F29829;
  --color-text-dark: #0D0D0D;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



/*nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 0px;
}

nav ul a{
    text-decoration: none;
    color: var(--color-text-light);
 
  
}*/
nav ul a:hover{
    color: var(--color-text-accent);
}
#Home {
    margin: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/pexels-karola-g-5718104.jpg');
    background-position: center;
     /* Add the blur effect */
   /* filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
     height: 625px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}

.Hero-text{
     margin: 0px;
     padding: 0px;
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
}

.Hero-text h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.Hero-text p{
    font-size: 20px;
    margin-bottom: 30px;
}       
.Hero-text button{
    background-color: var(--color-primary);
    color: var(--color-text-light);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;    
}
.Hero-text button:hover{
    background-color: var(--color-accent);
    cursor: pointer;
}